streamlit
openai
PyPDF2
requests
youtube_transcript_api
pinecone-client
python-dotenv
tiktoken
pandas
fpdf
numpy
xlsxwriter
openpyxl
seaborn
pytesseract
Pillow
python-docx
pdf2image
pymongo
matplotlib
streamlit-google-auth
langchain
langchain_community
pymupdf
sentence_transformers
pinecone_text
langchain_openai
firebase-admin
httpx-oauth
ydata-profiling